# Dependencies
node_modules/

# Service account
service-account.json

# Environment variables
.env
.env.local
.env.*.local

# Build
dist/
lib/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log
ui-debug.log

# OS
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
